spring:
  application:
    name: shortener-url
  
  datasource:
    url: jdbc:postgresql://localhost:5432/u_postgres
    username: ${DB_USERNAME:u_postgres}
    password: ${DB_PASSWORD:p_postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080
  servlet:
    context-path: /

application:
  jwt:
    secret: ${JWT_SECRET:default-secret-key-change-in-production-min-256-bits}
    expiration: 86400000 # 24 hours in milliseconds

  base-url: ${APP_BASE_URL:http://localhost:8080}
